{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'library_app/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cody's Library</title>
</head>
<body>
  <header>
    <a href="{% url 'index' %}"><h1>Cody's Library</h1></a>
    <nav>
      {% if user.is_authenticated %}
      <a href="{% url 'catalog' %}">Catalog</a>
      <a href="">Location Map</a>
      <a href="">Events</a>
      <a href="">Suggest Addition</a>
      <a href="{% url 'my_borrowed' %}">Check My Borrowed Books</a>
      <a href="">Edit Account</a>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
      {% else %}
      <a href="{% url 'catalog' %}">Catalog</a>
      <a href="">Location Map</a>
      <a href="">Events</a>
      <a href="{% url 'login' %}">Login/Create Account</a>
      {% endif %}
    </nav>
  </header>
  <main>
    <div id="catalog_nav">
      {% block sidebar %} {%endblock%}
    </div>
    <div id="content">
    {% block content %} {% endblock %}
    </div>
  </main>
</body>
</html>