{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/yeti/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'library_app/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cody's Library</title>
</head>
<body>
  <header>
    <div id="header-div-one">
      <a href="{% url 'index' %}"><img src="{% static 'logo.png' %}" alt="logo"></a>
    </div>
    <div id="header-div-two">
      <h1 class="text-center">Cody's Library</h1>
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catalog</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'list_catalog' %}">General Catalog</a>
                  <a class="dropdown-item" href="{% url 'catalog_ush' %}">US History</a>
                  <a class="dropdown-item" href="{% url 'catalog_wh' %}">World History</a>
                  <a class="dropdown-item" href="{% url 'catalog_ps' %}">Political Science</a>
                  <a class="dropdown-item" href="{% url 'catalog_edu' %}">Education</a>
                  <a class="dropdown-item" href="{% url 'catalog_aup' %}">Architecture and Urban Planning</a>
                  <a class="dropdown-item" href="{% url 'catalog_nf' %}">Other Non-Fiction Titles</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'search_page' %}">Catalog Search</a>
                  {% if user.is_authenticated %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'book_create' %}">Add New Item</a>
                  {% endif %}
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'map' %}">Location Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'suggestion_create' %}">Suggest Addition</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'my_borrowed' %}">My Borrowed</a>
              </li>
              {% if user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'all_borrowed' %}">All Borrowed</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-secondary my-2 my-sm-0">Logout</button>
                </form>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login/Create Account</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div id="content">
      {% block search %} {% endblock %}
      {% block content %} {% endblock %}
    </div>
  </main>
  <hr>
  <footer>
    <div>
      Support Us
      <ul>
        <a href=""><li>Donate</li></a>
        <a href=""><li>Volunteer</li></a>
      </ul>
    </div>
    <div>
      Connect with us on social media
      <ul>
        <a href=""><li>Join our newsletter</li></a>
        <a href=""><li>Facebook</li></a>
        <a href=""><li>Youtube</li></a>
      </ul>
    </div>
    <div>
      <a href="">Careers</a>
    </div>
    <div id="hours">
      Our Hours:
      <ul>
        <li>Friday: 2pm-3pm</li>
        <li>Saturday: 12pm-6pm</li>
      </ul>
    </div>
  </footer>
</body>
</html>