{% extends 'library_app/base.html' %} 
{% block content %}
<h2>Welcome to Cody's Library</h2>
<p>A project seeking to practice using Django and PostgreSQL with Django templates, this is an inventory management system useful for a personal library, workshop, lab, or similar set up requiring materials and shared use.</p>
<p>Some key features:</p>
<ul>
    <li>Integration with PostgreSQL for backend data management using the inbuild models and forms functionality of Django</li>
    <li>Search functionality currently for titles. Will add authors as well as partial text searching</li>
    <li>Multiple level functionality depending on authorization: just browsing, user who can check out books or suggest new ones, librarians who can edit books, add books, delete books, and mark as returned</li>
</ul>
{% endblock %}

