{% extends 'library_app/base.html' %} 
{% load static %}
{% block content %}
<h4>Map of the Library</h4>
<p>Under construction. Note - currently only works in full screen setting </p>
<div id="map-content">
    <div id="ground-floor">
        <h4>Map of the Ground Floor Collections</h4>
        <img src="{% static 'GroundFloor.png' %}" class="floorplans">
        <a href="{% url 'catalog_ush' %}"><img src="{% static 'bookshelf_50.png' %}" id="ush"></a>
        <a href="{% url 'catalog_wh' %}"><img src="{% static 'bookshelf_50.png' %}" id="wh"></a>
        <a href="{% url 'catalog_edu' %}"><img src="{% static 'bookshelf_50.png' %}" id="edu"></a>
        <a href="{% url 'catalog_nf' %}"><img src="{% static 'bookshelf_50.png' %}" id="nf"></a>
        <a href="{% url 'catalog_ps' %}"><img src="{% static 'bookshelf_50.png' %}" id="ps"></a>
        <a href="{% url 'catalog_aup' %}"><img src="{% static 'bookshelf_50.png' %}" id="aup"></a>
        <a href="{% url 'catalog_fiction' %}"><img src="{% static 'bookshelf_50.png' %}" id="fiction"></a>

    </div>
    <div id="basement">
        <h4>Map of the Basement Collections</h4>
        <img src="{% static 'BasementFloor.png' %}" class="floorplans">
    </div>
</div>
{% endblock %}

