/* Overall component structure and alignment */
body {
background-color: #f2dcb1be;
}

main {
    display: inline-flex;
    flex-direction: row;

}

nav {
    display: inline-flex;
    gap: 2rem;
    justify-content: center;
}

#catalog_nav {
    flex: 0 .1 15rem;
    text-align: center;
}

/* Display formatting of elements */
ul {
    list-style-type: none;
}

.bullets {
    list-style-type: circle;
}

#catalog_nav_list li {
    padding-top: 1rem;
}

.book_photo {
    max-width: 250px;
}