body {
    padding-left: 7%;
}

main {
    display: inline-flex;
    flex-direction: row;
    color: black;
    padding-left: 5%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-div-one {
    padding-top: 1em;
}

nav {
    width: max-content;
    height: 60px;
}

footer {
    display: inline-flex;
    flex-direction: row;
}

footer div {
    margin:1rem;
}

.display_window {
    display: inline-flex;
    flex-wrap: wrap;
}

a:link {
    text-decoration: none;
    color: black
}

.book_thumbnail {
    width: 15rem;
    height: 7.5rem;
    /* background-color: aliceblue; */
    outline: 3px solid rgb(214, 214, 214);
    border-radius: 5px;
    margin: 1rem;
    padding: .5rem;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    animation: createBox .75s;
}
@keyframes createBox {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.thumbnail_text {
    padding-left: 10px;
    overflow: hidden;
    max-width: 100%;
    font-size: small;
}

.thumbnail_title {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
}

.book_thumbnail_photo {
    height: 100px;
}
/* CARDS */
.card {
    width: 10rem;
    height: 12rem;
    /* background-color: aliceblue; */
    outline: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    transition: opacity ease-in 1.5s;
}

.card.show {
    opacity: 1;
}

.card_text {
    padding-left: 10px;
    overflow: hidden;
    max-width: 100%;
    font-size: small;

}

.card_header {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5;
}
/* END CARDS */

#catalog_nav {
    flex: 0 .1 15rem;
    text-align: center;
}

ul {
    list-style-type: none;
}

.bullets {
    list-style-type: circle;
}

#catalog_nav_list li {
    padding-top: 1rem;
}

.book_photo {
    max-width: 250px;
}

/* #content {
    opacity: 0;
    transition: opacity ease-in 2s;
}

#content.show {
    opacity: 1;
} */

#search-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#new-book-content {
    display: flex;
}