{% extends 'library_app/catalog/catalog_base.html' %}
{% block search %}
{% endblock %} 
{% block content %}
<h2>"{{book.title}}" by {{book.author}}</h2>
<img src="{{book.picture_url}}" alt="" class="book_photo">
<ul>
    <li>Genre: {{book.genre}}</li>
    <li>Publication year: {{book.publication_year}}</li>
    <li>Number in our collection: {{book.number_in_collection}}</li>
    <li>Location: {{book.location}}</li>
    <li>ID: {{book.id}}</li>
    {% if book.borrower %}
    <li>Status: Currently out on loan</li>
    {%else%}
    <li>Status: Currently available</li>
    {%endif%}
</ul>   
{% if user.is_authenticated and book.borrower == None %}
<a href="{% url 'book_borrow' pk=book.pk %}"><button type="button" class="btn btn-primary" id="borrow_book_button btn-sm">Request This Book</button></a>
{%endif%}
{%if user.is_staff %}
<a href="{% url 'book_edit' pk=book.pk %}"><button type="button" class="btn btn-info">Edit this item</button></a>
{%else %}
{%endif%}
{% endblock %}

