{% extends 'library_app/base.html' %}
{% block sidebar%} 
<ul id="catalog_nav_list">
    <li><a href="{% url 'catalog_fiction' %}">Fiction</a></li>
    <li><a href="{% url 'catalog_ush' %}">US History</a></li>
    <li><a href="{% url 'catalog_wh' %}">World History</a></li>
    <li><a href="{% url 'catalog_ps' %}">Political Science</a></li>
    <li><a href="{% url 'catalog_edu' %}">Education</a></li>
    <li><a href="{% url 'catalog_aup' %}">Architecture and Urban Planning</a></li>
    <li><a href="{% url 'catalog_nf' %}">Other Non-Fiction Titles</a></li>
</ul>
{%endblock%}
{% block content %}
    <h2>Browse our Catalog</h2>
    {% if user.is_staff %}
    <a href="{% url 'book_create' %}">Add a new book to the collection</a>
    {%else %}
    <p>Login to librarian Account to add a new book to the collection</p>
    {%endif%}
    <ul>
        {% for book in catalog %}
        <li>
            <a href="{% url 'book_detail' pk=book.pk%}">"{{book.title}}" by {{book.author}}</a>
        </li>
        {%endfor%}
    </ul>
{% endblock %}




