{% extends 'library_app/catalog/catalog_base.html' %} 
{% block content %}
<h2>Browse our Architecture and Urban Planning Collection</h2>
<div class="display_window">
    {% for book in aup_catalog %}
    <a href="{% url 'book_detail' pk=book.pk%}">
    <div class="book_thumbnail">
        <img src="{{book.picture_url}}" alt="" class="book_thumbnail_photo">
            <div class="thumbnail_text">
                <p class="thumbnail_title">{{book.title}}</p>
                <p>By: {{book.author}}</p>    
            </div>         
    </div>
    </a>
    {% endfor %}
</div>
{% endblock %}

