{% extends 'library_app/base.html' %} 
{% block content %}
<h3>Add New Book to the Collection</h>
<h6>Need to add an author?<a href="{% url 'author_create' %}"><button class="btn btn-outline-info btn-sm">Click here</button></a></h6>
<div id="new-book-content">
    <div id="new-book-form">
        <form method="POST" class="post-form">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="save btn btn-info btn-sm">Save</button>
        </form>
    </div>
    <div id="isbn_search">
    <h4>Search By ISBN for Info</h4><h6>(without dashes)</h6>
    <p>For testing, use: 9780140178241</p>
    <form method="get" action="{% url 'book_create' %}">
        <input type="text" name="q" placeholder="Enter ISBN">
        <a href="{% url 'isbn_search' %}"><button type="submit" class="btn btn-outline-info btn-sm">Search</button></a>
    </form>
    {% if result %}
    <div class="card mb-3">
        <h3 class="card-header">{{result.title}}</h3>
        <div class="card-body">
          <h5 class="card-title">{{result.author}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Year: {{result.published_date}}</li>
          <li class="list-group-item">Tumbnail: {{result.thumbnail}}</li>
          <li class="list-group-item">Google Books Link{{result.link}}</li>
          <li class="list-group-item">Description: {{result.desription}}</li>
        </ul>
      </div>

         {% endif %}

    </div>
</div>
{% endblock %}


