{% extends 'library_app/base.html' %} 
{% block content %}
<h3>Add New Book to the Collection</h>
<h6>Need to add an author?<a href="{% url 'author_create' %}"><button class="btn btn-outline-info btn-sm">Click here</button></a></h6>
<div id="new-book-content">
    <div id="new-book-form">
        <form method="POST" class="post-form">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="save btn btn-info btn-sm">Save</button>
        </form>
    </div>
    <div id="isbn_search">
    <h4>Search By ISBN for Info</h4><h6>(without dashes)</h6>
    <p>For testing, use: 9780140178241</p>
    <form method="get" action="{% url 'book_create' %}">
        <input type="text" name="q" placeholder="Enter ISBN">
        <a href="{% url 'isbn_search' %}"><button type="submit" class="btn btn-outline-info btn-sm">Search</button></a>
    </form>
    {% if result %}
            <table class="table table-hover" id="isbn_table_display">
                <tbody>
                    <tr class="table-info">
                      <th scope="row">Title</th>
                      <td>{{result.title}}</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">Author</th>
                        <td>{{result.author}}</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">Date Published</th>
                        <td>{{result.published_date}}</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">Link to Thumbnail</th>
                        <td>{{result.thumbnail}}</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">Link to Google Books</th>
                        <td>{{result.link}}</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">Description</th>
                        <td>{{result.desription}}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}

    </div>
</div>
{% endblock %}


